body {
    margin: 0;
    background: radial-gradient(ellipse at bottom, #060613 0%, #090A0F 100%);
}


.star {
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}

.star {
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}


.seu-conteudo {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding-top: 50px;
    font-family: sans-serif;
}